Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/LPSDeluxe2TropicalEnvironment/ExampleMaps/DemoMap_BuiltData.uasset
Content/_Maps/TablaPrincipal1_BuiltData.uasset
